* {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.active-link {
    padding-left: 4px;
    border-radius: 40px;
    background: green;
    color: #fff;
}

.active-link:hover {
    color: darkgreen;
    background: lightgreen;
}

.swiper {
    width: 100%;
    top: 30px;
}

.swiper img {
    width: 480px;
}
.home{
    height: 70vh;
}
.home img{
    width: 300px;
}
.about{
    height: 80vh;
}
.category{
    height: 100vh;
    border-bottom: 3px solid black;
}
.category img{
    margin-top: 10px;
    width: 300px;
    height: 300px;
}
.grid {
    padding: 10px 10px;
    display: grid;
    margin-left: 160px;
    margin-top: -260px;
    grid-template-columns: repeat(5, 1fr);
}

.grid>div {
    transition: transform 0.3s ease-in-out;
    margin-top: 15px;
    margin-left: 10px;
}

/*HOVERS RES*/
.grid>div:hover{
    color: orange;
    transform:  translateY(-20px);

}
.grid .shop :hover{
    color: orange;
}
.grid >div button{
    border-radius: 5px;
    border: none;
}

.grid .shop {
    display: block;
    margin-top: -10px;
    margin-left: -2px;
    background: green;
    text-align: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border-radius: 80px;
    color: #fff;
}

.grid img {
    border: 1px solid gray;
    border-radius: 80px;
    width: 180px;
    height: 180px;
}
.grid>div img :hover{
    border:  2px solid green;
}
/* contact margin-top(important)*/
#contact-form {
    background: whitesmoke;
    border-radius: 10px;
    border: 1px solid gray;
    margin-top: 180px;
    margin-bottom: 33px;
}
.card .input-borders{
    border-bottom: 1px solid black ;
    border-top: none;
    border-left: none;
    border-right: none;
}
footer{
    width: 100%;
    height: 100px;
    display: block;
    color: #fff ;
    background: green;
}
@media screen and (max-width: 600px) {
    .home img{
        width: 530px;
        margin-top: 20px;
          }
    .category img{
        height: 250px;
    }
    .about{
        
        margin-top: 180px;
    }
        .product{
            margin-top: 220px;
        }

    .grid {
        margin-left:100px ;
        margin-top: 50px;
        width: 60px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .grid img {
        width: 100px;
        height: 100px;
        margin-left: 10px;
    }

    .grid>div {
        margin-top: 30px;
    }
    #contact-form{
        width: 360px;
    }
    footer{
        height: 290px;
    }

}